.spinner{
  position: fixed;
  font-size:7rem;
  color: rgb(169, 221, 243);
  z-index: 11;
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  /*
  Not even necessary really.
  e.g. Height could be left out!
  */
  //width: 40%;
  //height: 50%;
}
